:root {
    --dark-blue: #1F2937;
    --light-white: #F9FAF8;
    --light-blue: #3882F6;
    --grey: #E5E7EB;
}


body {
    background-color: var(--dark-blue);
    font-family: 'Roboto', sans-serif;
    font-size: 1px;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--dark-blue);
}

header h1 {
    margin-left: 15%;
    color: var(--light-white);
    font-size: 34em;
    font-weight: bold;
}

nav {
    margin: auto;
}

header ul {
    list-style-type: none;
    display: flex;
    padding: 0 1%;
    margin-right: 15%;
    justify-content: space-between;
    align-items: center;
}

header ul li {
    margin: 0 8%;
    white-space: nowrap;
}

header li a {
    color: var(--light-white);
    text-decoration: none;
    font-size: 26em;

}

.top_content {
    display: flex;
    padding-bottom: 11%;
    padding-top: 5%;
    color: var(--light-white);
    margin-bottom: 0;
}

.top_content button {
    background-color: var(--light-blue);
    border-radius: 9px;
    color: var(--light-white);
    border: none;
    font-size: 24em;
    font-weight: bold;
    padding: 2% 9%;
}

.top_left {
    margin-left: 15%;
    margin-right: 15%;
}

.top_left h1 {
    font-size: 68em;
    margin: 0;
    margin-top: 10%;
    margin-bottom: 0%;
}

.top_left p {
    font-size: 26em;
    color: var(--light-white);
    padding-top: 0;
    width: 114%;
    margin-top: 0%;
    margin-bottom: 3%;
}

.top_right {
    margin-right: 10%;
}



/* INFO CONTAINER */

.info_container {
    background-color: white;
    padding: 2% 0;
    padding-bottom: 9%;
}

.info_container h1 {
    display: flex;
    justify-content: center;
    font-size: 50em;
    padding-bottom: 2%;
    font-weight: bolder;
}

.boxes {
    display: flex;
    justify-content: space-between;
    margin: 0 19%;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.boxes p {
    font-size: 24em;
    margin: 0 10%;
    margin-top: 5%;
    color: gray;
}

.info_container img {
    border-width: 6px;
    border-style: solid;
    border-color: var(--light-blue);
    height: 220px;
    width: 220px;
    border-radius: 20px;
    margin: auto;
}



/* QUOTE BOX */

.quote_box {
    display: flex;
    background-color: var(--grey);
    padding: 6% 23%;
    flex-direction: column;

}

.quote_box p:first-child {
    margin-bottom: auto;
    font-size: 46em;
    font-style: italic;
    font-weight: 300;
}

.quote_box p:nth-child(2) {
    margin-left: 65%;
    width: 40%;
    font-size: 34em;
    font-weight: bold;
}



/* CALL TO ACTION */

.call_container {
    background-color: white;
    padding: 2% 0;
}

.call_to_action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue);
    margin: 5% 15%;
    padding: 2% 2%;
    border-radius: 12px;
    color: white;

}

.text_container {
    margin-left: 10%;
    padding: 3% 0;
}

.text_container p:first-child {
    font-size: 32em;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.text_container p:nth-child(2) {
    font-size: 26em;
    color: var(--light-white);
    margin-bottom: 0;
    margin-top: 0;
}

.button_container {
    margin-right: 15%;
}

.button_container button {
    border-width: 3px;
    border-radius: 12px;
    border-style: solid;
    border-color: white;
    background-color: var(--light-blue);
    color: white;
    font-weight: bold;
    font-size: 24em;
    padding: 10% 50%;
    white-space: nowrap;
}

footer p {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24em;
    padding: 1.7% 0;
}