.header {
    display: flex;
    justify-content: space-between;
}

.links {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
}

img {
    display: flex;
    justify-content: flex-start;
    height: 300px;
    width: 300px;
}

.recipeTitle {
    font-size: 40px;
}